# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/*
!vendor/vendor.json
coverage.out
count.out
profile.out
tmp.out

tmp
mysql_data
volumes
.env

/infrastructure/minio/

# gitkeepは基本的に空ディレクトリ用に残す
!gitkeep

.DS_Store